# Documentation Engine
sphinx==8.1

# Sphinx Extensions
sphinx-automodapi==0.22.0

# PennyLane Sphinx theme (do not pin this)
pennylane-sphinx-theme

# Core dependency (latest PennyLane development version)
git+https://github.com/PennyLaneAI/pennylane.git@main
