name: Tests
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11', '3.12', '3.13', '3.14']

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools>=75.8.1
          pip install -r requirements-ci.txt
          pip install -r requirements.txt
          pip install --upgrade git+https://github.com/PennyLaneAI/pennylane.git#egg=pennylane
          pip install wheel pytest pytest-cov pytest-mock pytest-benchmark --upgrade
      - name: Install Plugin
        run: |
          python setup.py bdist_wheel
          pip install dist/pennylane*.whl
      - name: Run tests
        run: python -m pytest tests --cov=pennylane_ionq --cov-report=term-missing --cov-report=xml -p no:warnings --tb=native
        env:
          IONQ_API_KEY: ${{ secrets.IONQ_API_KEY }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.codecov_token }}
          file: ./coverage.xml

  integration-tests:
    runs-on: ubuntu-latest
    if: github.event.pull_request.head.repo.full_name == github.repository

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools>=75.8.1
          pip install -r requirements.txt
          pip install --upgrade git+https://github.com/PennyLaneAI/pennylane.git#egg=pennylane
          pip install wheel pytest pytest-benchmark pytest-cov pytest-mock flaky --upgrade

      - name: Install Plugin
        run: |
          python setup.py bdist_wheel
          pip install dist/pennylane*.whl

      - name: Run tests
        env:
          IONQ_API_KEY: ${{ secrets.IONQ_API_KEY }}
        run: |
          pl-device-test --device=ionq.simulator --tb=short --skip-ops --shots=10000

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.codecov_token }}
          file: ./coverage.xml
